<link rel='stylesheet' href='/stylesheets/dash.css' />
<nav class="nav masthead-nav navbar-fixed-top bg-faded">
    <div class="container-fluid">
        <h3 class="masthead-brand" style="padding-left: 20px"> PMES2 Dashboard {{dashCtrl.user.name}}</h3>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav masthead-nav navbar-right">
                <li class="active"><a href="#" ui-sref="dash">Dashboard</a></li>
                <li><a data-toggle="modal" data-target="#profile">Profile</a></li>
                <li><a data-toggle="modal" data-target="#about">About</a></li>
                <li><a data-toggle="modal" data-target="#logout">log out</a></li>
            </ul>
        </div>

    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="logout" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">LogOut</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to exit PMES2?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="dashCtrl.logout()">LogOut</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="profile" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profile</h4>
            </div>
            <div class="modal-body">
                <h2>{{dashCtrl.user.username}}</h2>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="about" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <p>PMES2 version Beta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="newApp" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New App</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/newApp.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="dashCtrl.saveNewApp()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="newJob" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Job</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/newJob.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="dashCtrl.saveNewJob()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success"ng-click="dashCtrl.saveNewJobAndRun()">Save and run</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newStorage" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Storage</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/newStorage.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="dashCtrl.saveNewStorage()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="system" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">System Information</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/system.html'"></div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="users" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Users</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/usersTable.html'"></div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="groups" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Groups</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/groupsTable.html'"></div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="nav-header active" style="color: white; border-bottom-color: white; font-size: large; text-align: left"><a ng-init="jobs=true" ng-click="jobs = !jobs">Jobs</a> </li>
                <li><a  data-toggle="modal" data-target="#newJob"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Job</a></li>
                <!--<li><a href="#">Jobs Accounting</a></li>-->
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="nav-header" style="color: white; border-bottom-color: white; font-size: large; text-align: left"><a ng-click="apps = !apps">Applications</a> </li>
                <li><a data-toggle="modal" data-target="#newApp"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New App</a></li>
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="nav-header" style="color: white; border-bottom-color: white; font-size: large; text-align: left"><a ng-click="storages = !storages">Storages</a> </li>
                <li><a data-toggle="modal" data-target="#newStorage"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Storage</a></li>
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="nav-header" style="color: white; border-bottom-color: white; font-size: large; text-align: left"><a>System</a> </li>
                <li><a data-toggle="modal" data-target="#system" ng-click="dashCtrl.getSystemStatus()">Cloud Load Information</a></li>
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="nav-header" style="color: white; border-bottom-color: white; font-size: large; text-align: left"><a>Users</a> </li>
                <li><a data-toggle="modal" data-target="#users">Manage users</a></li>
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="nav-header" style="color: white; border-bottom-color: white; font-size: large; text-align: left"><a>Groups</a> </li>
                <li><a data-toggle="modal" data-target="#groups">Manage groups</a></li>
                <li class="nav-divider"></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ng-show="jobs">
                <div ng-include="'views/jobsTable.html'"></div>
            </div>
            <div ng-show="apps">
                <div ng-include="'views/appsTable.html'"></div>
            </div>
            <div ng-show="storages">
                <div ng-include="'views/storagesTable.html'"></div>
            </div>
        </div>
    </div>
</div>