<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" value="dashCtrl.infoStorage.name" ng-disabled="!editS" ng-model="dashCtrl.infoStorage.name">
    </div>
    <div class="form-group">
        <label for="storage">Path</label>
        <input type="text" class="form-control" id="storage" value="dashCtrl.infoStorage.name" ng-disabled="!editS" ng-model="dashCtrl.infoStorage.path">
    </div>
    <div class="form-group">
        <label for="user">User</label>
        <input type="text" class="form-control" id="user" value="dashCtrl.infoStorage.user" ng-disabled="!editS" ng-model="dashCtrl.infoStorage.user">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" value="dashCtrl.infoStorage.password" ng-disabled="!editS" ng-model="dashCtrl.infoStorage.password">
    </div>
</form>