<form>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="log">File</label>
                <select type="file" id="log" class="form-control" ng-change="dashCtrl.getLog()" ng-options="file for file in dashCtrl.logFiles" ng-model="dashCtrl.logFile">
                </select>
            </div>
            <div class="form-group">
                <label for="logData">{{dashCtrl.logFile}}</label>
                <textarea class="form-control" rows="10" id="logData"></textarea>
            </div>
        </div>
    </div>
</form>