<link rel='stylesheet' href='/stylesheets/cover.css' />
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <nav class="nav masthead-nav navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3 class="masthead-brand"> {{authCtrl.title}} </h3>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav masthead-nav navbar-right">
                        <li class="active"><a href="#">Login</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="cover-container">
            <div class="inner cover">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h1 class="cover-heading">Login</h1>
                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" ng-model="authCtrl.user.email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" ng-model="authCtrl.user.password">
                        </div>
                        <p class="lead">
                            <a href="#" class="btn btn-lg btn-default" ui-sref="dash"><span class="fa fa-user"></span> Local Login</a>
                            <a ng-click="authCtrl.login()" class="btn btn-default"><span class="fa fa-user"></span> Local</a>
                            <a target="_self" href="/auth/google" class="btn btn-lg btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                        </p>
                    </form>
                    <p>Need an account? <a data-toggle="modal" data-target="#signup">Signup</a></p>
                </div>
                <div class="col-md-4">
                </div>

            </div>
        </div>
        <div class="mastfoot">
            <div class="inner">
                <div class="col-md-4">
                    <a href="#" class="pull-left"><img src="images/BSC_inv.png"></a>
                </div>
                <div class="col-md-4">
                    <p>PMES2 Dashboard
                        <a href="#">PMES</a>
                        , by
                        <a href="#">support@pmes.bsc.es</a>.</p>
                </div>
                <div class="col-md-4">
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Signup</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'views/signup.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="authCtrl.saveNewUser()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
