<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cores</h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="dashCtrl.systemStatusDataDash.coreUsage" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                        {{dashCtrl.systemStatusDataDash.coreUsage}}%
                    </div>
                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>#Total</th>
                    <th>#Used</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{dashCtrl.systemStatusDataDash.totalCores}}</td>
                    <td>{{dashCtrl.systemStatusDataDash.usedCores}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Memory</h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="dashCtrl.systemStatusDataDash.memoryUsage" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        {{dashCtrl.systemStatusDataDash.memoryUsage}}%
                    </div>
                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Total (GB)</th>
                    <th>Used (GB)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{dashCtrl.systemStatusDataDash.totalMemory}}</td>
                    <td>{{dashCtrl.systemStatusDataDash.usedMemory}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>