<pmes>
    <providerName Name="ONE"/>
    <endPointROCCI>https://bscgrid20.bsc.es:11443/</endPointROCCI>
    <hosts>
        <host>
            <name>bsccv19</name>
            <MAX_CPU>2400</MAX_CPU>
            <MAX_MEM>99195808</MAX_MEM>
        </host>
    </hosts>
    <logPath>/home/pmes/pmes/logs</logPath>
</pmes>
